<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/post">
        <h1>New Data</h1>
        <input placeholder="Enter Username" name="username" type="text"> <br><br>
        <textarea placeholder="Enter Content" name="content" type="text"></textarea> <br>
        <button>Submit</button>
    </form>
</body>
</html>